@use '../variables/color';
@use '../variables/font';
@import '../mixin/mixin.scss';

.bg{
    @include full-w;
    min-height: 685px;
    background: url(../image/why-choose-us-bg-l.png);
    @include bg;
    display: flex;

    .content_container{
        max-width: 1120px;
        min-height: 460px;
        width: 100%;
        @include flex-bet-center-wrap;
        margin: auto;

        .text-container{
            max-width: 562px;
            min-height: 343px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            
            &-title{
                @include h2;
            }

            &-info{
                @include paragraph;
            }

            .cta{
                @include btn;
                border:none;
                transition: all 0.3s ease-in-out;

                &:hover{
                    background-color: color.$btn-hover;
                }

                &:active{
                    background-color: color.$btn-active;
                }
            }
        }

        .image-container{
            max-width: 440px;
            min-height: 450px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;

            .bottom{
                align-self: end;
            }
        }
    }

}