@use '../variables/color';
@use '../variables/font';
@import '../mixin/mixin.scss';


@media screen and (min-width:320px) and (max-width: 1002px){
    .bg{
        @include full-w;
        min-height: 500px;
        background: url(../../image/responsive/why-choose-us-bg-s.png);
        @include bg;
        

        .content_container{
            max-width: 599px;
            min-height: auto;
            width: 100%;
            margin: auto;

            .text-container{
                max-width: 599px;
                min-height: 343px;
                width: 100%;
                @include flex-bet-center;
                margin: 20px auto;
                
                &-title{
                    text-align: center;
                    margin: 20px;
                }

                &-info{
                    text-align: center;
                    padding: 0 10px;
                }

                .cta{
                    @include btn;
                    border:none;
                    transition: all 0.3s ease-in-out;
                    margin: 20px 0;

                    &:hover{
                        background-color: color.$btn-hover;
                    }

                    &:active{
                        background-color: color.$btn-active;
                    }
                }
            }

            .image-container{
                max-width: 580px;
                min-height: 450px;
                width: 100%;
                margin-bottom: 20px;
                @include flex-center-center;

                img{
                    width: 300px;
                }
            }
        }

    }
}

@media screen and (min-width:600px) and (max-width: 1002px) {
    .bg{
        background: url(../../image/responsive/why-choose-us-bg-s.png);
        
        .content_container{
            max-width: 1000px;
            min-height: auto;
            width: 100%;
            margin: auto;

            .text-container{
                max-width: 680px;
                min-height: 343px;
                width: 100%;
                @include flex-bet-center;
                margin: 20px auto;
                
                &-title{
                    text-align: center;
                }

                &-info{
                    text-align: center;
                }

                .cta{
                    @include btn;
                    border:none;
                    transition: all 0.3s ease-in-out;
                    margin-bottom: 20px;

                    &:hover{
                        background-color: color.$btn-hover;
                    }

                    &:active{
                        background-color: color.$btn-active;
                    }
                }
            }

            .image-container{
                max-width: 680px;
                min-height: 450px;
                width: 100%;
                margin-bottom: 20px;

                .bottom{
                    align-self: end;
                }
            }
        }

    }
}