@import '../partials/header';
@import '../partials/navigation';
@import '../partials/why-choose-us';
@import '../partials/spain-house';
@import '../partials/icons-banner';
@import '../partials/spain-house';
@import '../partials/spain-sea-panorama';
@import '../partials/review';
@import '../partials/footer';

@import '../responsive/small-device/header-res-s';
@import '../responsive/small-device/_navigation-res-s';
@import '../responsive/small-device/why-choose-us-res';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

